{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <link rel="stylesheet" href="../static/style3.css">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <img src="{{ cocktail['image'] }}" class="card-img-top" alt="{{ cocktail['name'] }} width="400px" height="400px">
          <div class="card-body">
            <h5 class="card-title">{{ cocktail['name'] }}</h5>
            <p class="card-text">{{ cocktail['instructions'] }}</p>
          </div>
        </div>
      </div>
      
   

   <div class="col-md-6 mb-4">
    <div class="cart">
    <h3 class="baslik">Ingredients</h3>
    <ul class="malzemeler">
      {% for ingredient, measure in cocktail['ingredients'] %}
        <li>
          <i class="fas fa-glass-martini-alt"></i>
          {{ measure }} <i class="fas fa-caret-right"></i>
           {{ ingredient }}
          </li>
      {% endfor %}
    </ul>
    </div>
  </div>
  </div>



  <h2>Comments:</h2>
  {% for comment in comments %}
    <p>{{ comment.text }}</p>
    <form method="POST" action="{{ url_for('delete_comment', cocktail_id=cocktail.id, id=comment.id) }}">
      {{ form.csrf_token }}
      <button type="submit" class="btn btn-danger">Delete Comment</button>
    </form>
    <hr>
  {% else %}
    <p>No comments yet.</p>
  {% endfor %}
  

  

  
  <h2>Add a Comment:</h2>
  <form method="POST" action="{{ url_for('cocktail', id=cocktail['id']) }}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.comment.label }}
      {{ form.comment(class_='form-control', rows=4) }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>


{% endblock %}
